#num{
    width: 400px;
    height: 200px;
    /* border-radius: 10%; */
    background-image:url('./cat.jpg');
    color: white;
    text-align:center;  
    font-size: 18px;
    border: 0px;
}
#btn{
    width: 60px;
    height: 30px;
    border-radius: 4px;
}
